name: Release_Version

permissions:
  contents: write
  actions: write

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  release_version:
    runs-on: ubuntu-latest
    steps:
      - name: release-version
        uses: gendloop/release-version@main
        with:
          version: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          no_commit: false
